@charset "UTF-8";

main.content > h2+p{
	background-color: #d1e7dd;
	color: #0f5132;
	padding: 12px 15px;
	border-radius: 4px;
	margin-top: 15px;
	font-weight: bold;
	border: 1px solid #badbcc;
	text-align: center;
}