@charset "UTF-8";
.menu-container{
	display: flex;
	gap:20px;
	margin-top: 20px;
	align-items: flex-start;
}
.menu-box{
	width:230px;
	height:150px;
	border-radius: 4px;
	margin: 0;
	box-sizing: border-box;
	
}

.menu-box a{
	text-decoration: underline;
	color: #0056b3;
	
}

.student,.subject{
	display: flex;
	align-items: center;
	justify-content: center;
}

.student a,.subject a{
	font-size: 1.3em;
	
}